body {
  --background: #282828; /* Gruvbox dark background */
  --color: #ebdbb2; /* Gruvbox light foreground */

  background: var(--background);
  color: var(--color);
  accent-color: var(--color);
  font-family: system-ui;

  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: initial;
}

body.theme-dark {
  --background: #1d2021; /* Gruvbox darker background */
  --color: #fbf1c7; /* Gruvbox light beige */
}

.wrapper {
  max-width: 1400px;
  margin: auto;
  padding: 1em;
}

.wrapper > :first-child,
.wrapper > style:first-child + *,
.wrapper div > :first-child,
.wrapper details:first-child summary {
  margin-top: 0;
}

.wrapper > :last-child,
.wrapper div > :last-child {
  margin-bottom: 0;
}

.wrapper p a,
.wrapper span a {
  font-weight: bold;
}

header {
  border-bottom: 1px solid #3c3836; /* Gruvbox gray */
}

main {
  flex: 1;
  overflow: auto;
}

footer {
  border-top: 1px solid #3c3836; /* Gruvbox gray */
}

header .wrapper,
footer .wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
}

header .wrapper form {
  flex: 1;
}

header .wrapper input {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  width: 100%;
}

main .wrapper .page,
main .wrapper .subpage {
  display: grid;
  align-items: start;
  gap: 1em;
}

main .wrapper .page {
  grid-template-columns: auto 250px;
}

main .wrapper .subpage {
  grid-template-columns: 250px auto 250px;
}

main .wrapper form div {
  margin-bottom: 2em;
}

main .wrapper h1,
main .wrapper h2 {
  font-weight: initial;
}

main .wrapper h1 a,
main .wrapper h2 a {
  font-weight: bolder;
}

main .wrapper img,
main .wrapper table {
  width: 100%;
}

main .wrapper table td {
  vertical-align: top;
}

main .wrapper table td[colspan] {
  padding: initial !important;
}

main .wrapper table td[colspan] audio,
main .wrapper video {
  width: 100%;
  margin-top: 4px;
}

main .wrapper table td:not(:nth-child(2)) {
  width: 0;
  white-space: nowrap;
  text-align: right;
}

main .wrapper table td:first-child {
  padding-right: 0.5em;
}

main .wrapper table td:last-child {
  padding-left: 0.5em;
}

main .wrapper summary {
  margin: 1em auto;
  font-weight: bold;
  cursor: pointer;
}

main .wrapper .results,
main .wrapper .results a {
  display: grid;
  gap: 1em;
}

main .wrapper .results {
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
}

main .wrapper .results a {
  grid-template-columns: 100px auto;
  align-items: center;
}

main .wrapper .results img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

main .wrapper .sidebar {
  overflow-wrap: anywhere;
}

main .wrapper .tracks table a,
main .wrapper .sidebar a {
  font-weight: bold;
}

main .wrapper .sidebar img {
  display: block;
}

@media (min-width: 1001px) {
  body.overflow main .wrapper:has(.page, .subpage) {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 0;
    box-sizing: border-box;
  }

  body.overflow main .wrapper .page,
  body.overflow main .wrapper .subpage {
    min-height: 0;
  }

  body.overflow main .wrapper .page > *,
  body.overflow main .wrapper .subpage > * {
    max-height: 100%;
    padding-bottom: 1em;
    overflow: auto;
    box-sizing: border-box;
    scrollbar-width: none;
  }

a {
  color: inherit;
  text-decoration: initial;
}

::selection {
  background: var(--color);
  color: var(--background);
}

@media (max-width: 1000px) {
  main .wrapper .page,
  main .wrapper .subpage {
    grid-template-columns: auto;
  }
}

@media (prefers-color-scheme: dark) {
  body:not(.theme-light) {
  --background: #1d2021; /* Gruvbox darker background */
  --color: #fbf1c7; /* Gruvbox light beige */
  }
}

